* {
  font-family: 'Oxanium', cursive;
}

.imgBg {
  background: url('../img/CodigoBg1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.title {
  font-size: 80px;
  color: #fff;
  line-height: 70px;
}