* {
  font-family: 'Oxanium', cursive;
}

.imgBg {  
  object-fit: cover;
  height: 99vh;
  width: 100vh;
}
.imgBgForm {
  background: url('../img/meeting-room-730679_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}

.title {  
  color: black;  
}

.nav-link:hover, .navbar-brand:hover{
  color: #ff4f1f !important;   
}
.nav-link:hover{
  border-bottom: 1px solid  #ff4f1f;
}
.lang {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
 }
.imgLang {
  height: 10vh;
  width: 10vh;
}

.imgProyect {
  height: 60%;
}
.footer {
  /* background-color:#F2F2F2; */
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.redesIcon {
  color: black;
  font-size: 30px;
}

.flecha {
  height: 30px;  
}
.btn-menu {
  height: 40px;     
}

.navTransparent {
  opacity: 0.7 !important;
  background-color: black;
  
}

.foto img {
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2)
}
.boton:hover {
  background:  #ff4f1f;
}
.wtsap {
  color: #075e54;
}
.fb {
  color: #3b5998;
}
.gmail {
  color: #ea4335;
}

.subtitle {
  background-color: #F2F2F2 ;
  border-radius: 5px;
}
.dcdvsLogo {
  font-family: 'Alex Brush', cursive;
}
